* {
margin: 0;
padding: 0;
}
img {
border: none;
}
a {
color: #00b;
text-decoration: none;
}
a:hover {
color: #33f;
text-decoration: underline;
}
a:active, a:focus {
color: #000;
background: #f6f6f6;
outline: 1px solid #aaf;
}
body {
background: #edebdf;
font-family: Arial, Verdana, sans-serif;
padding: 0 20px;
}